@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app-container {
        @apply flex flex-col min-h-screen py-10;
    }
    .main-container {
        @apply flex flex-1 flex-col space-y-10 py-10 px-6 max-w-4xl mx-auto;
    }
    .overview-container {
        @apply grid grid-cols-1 md:grid-cols-2 gap-6 w-full;
    }
    .faucet-list-container {
        @apply flex-1 flex flex-col items-center justify-center text-center space-y-8;
    }
    .faucet-list-items {
        @apply grid grid-cols-1 gap-6 text-center;
    }
    .faucet-section {
        @apply flex flex-col gap-8;
    }
    .input-container {
        @apply flex;
    }
    .balance-container {
        @apply flex justify-between;
    }
    .balance-content {
        @apply flex flex-col gap-4 justify-between;
    }
    .transaction-container {
        @apply mt-4 space-y-2;
    }
    .nav-container {
        @apply flex justify-center space-x-4;
    }
    .error-alert-container {
        @apply fixed top-4 left-1/2 transform -translate-x-1/2 z-50;
    }
    .network-info {
        @apply flex items-center w-64 justify-between;
    }
    .network-selector {
        @apply space-y-6 flex flex-col items-center;
    }
    .separator {
        @apply my-4 border-t border-gray-300;
    }
    .card {
        @apply bg-white p-6 rounded-lg border border-gray-300;
    }
    .card-title {
        @apply text-lg font-semibold text-gray-900 mb-4;
    }
    .input {
        @apply flex-grow border border-gray-300 p-2 rounded-l;
    }
    .title {
        @apply text-lg font-semibold;
    }
    .list {
        @apply space-y-3;
    }
    .bullet-list {
        @apply list-disc pl-5;
    }
    .list-element {
        @apply flex items-start;
    }
    .list-text {
        @apply text-gray-600;
    }
    .link-text {
        @apply text-blue-700 hover:text-blue-700;
    }
    .description {
        @apply text-center text-pretty space-y-4 max-w-2xl mx-auto;
    }
    .balance {
        @apply text-xl;
    }
    .header {
        @apply text-4xl font-bold mb-6 text-center;
    }
    .header-large {
        @apply text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl text-center;
    }
    .footer {
        @apply grid gap-10 text-center pt-6 border-t border-gray-200 max-h-80;
    }
    .footer-content {
        @apply grid grid-cols-1 md:grid-cols-2 gap-6 w-4/5 mx-auto;
    }
    .footer-section {
        @apply space-y-4;
    }
    .footer-title {
        @apply text-lg font-semibold;
    }
    .footer-links {
        @apply space-y-4;
    }
    .footer-links:hover {
        @apply text-blue-700;
    }
    .footer-bottom {
        @apply flex justify-center items-center;
    }
    .btn {
        @apply block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded;
    }
    .btn-enabled {
        @apply bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-r;
    }
    .btn-disabled {
        @apply bg-gray-500 text-white font-bold py-2 px-4 rounded-r;
    }
    .btn-topup {
        @apply block bg-orange-800 hover:bg-orange-900 text-white font-bold py-2 px-4 rounded cursor-pointer;
    }
    .dropdown {
        @apply relative w-64;
    }
    .dropdown-icon {
        @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
    }
    .dropdown-items {
        @apply w-full px-4 py-2 text-sm text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-colors cursor-pointer appearance-none;
    }
    .check-icon {
        @apply h-5 w-5 text-green-500 mr-2 flex-shrink-0;
    }
    .lighting-icon {
        @apply h-5 w-5 text-blue-700 mr-2 flex-shrink-0;
    }
    .close-icon {
        @apply fill-current h-6 w-6 text-red-500;
    }
    .error-alert {
        @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2 w-auto pr-10;
    }
    .error-alert-faded {
        @apply opacity-0 transition-opacity bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2 w-auto pr-10;
    }
    @keyframes l20-1 {
        0% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
        }
        12.5% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
        }
        25% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
        }
        50% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        }
        62.5% {
            clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        }
        75% {
            clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
        }
        100% {
            clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
        }
    }

    @keyframes l20-2 {
        0% {
            transform: scaleY(1) rotate(0deg);
        }
        49.99% {
            transform: scaleY(1) rotate(135deg);
        }
        50% {
            transform: scaleY(-1) rotate(0deg);
        }
        100% {
            transform: scaleY(-1) rotate(-135deg);
        }
    }
}

@layer utilities {
    .opacity-0 {
        opacity: 0;
    }
    .opacity-100 {
        opacity: 1;
    }
    .transition-opacity {
        transition: opacity 0.5s ease-in-out;
    }
}
